/* Thin (100) */

@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist Thin Italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

/* Extra Light (200) */

@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist Extra Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist Extra Light Italic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

/* Light (300) */

@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist Light Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Regular (400) */

@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Medium (500) */

@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist Medium Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

/* SemiBold (600) */

@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist Semi Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist Semi Bold Italic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

/* Bold (700) */

@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist Bold Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* ExtraBold (800) */

@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist Extra Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist Extra Bold Italic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

/* Black (900) */

@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Urbanist';
    src: url('fonts/Urbanist Black Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}